*{
    margin: 0; padding: 0; box-sizing: bodre-box;
}

header{ 
    width: 100%; height: 100vh; 
    background-image: url('../images/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
nav {
    position: fixed;
    top:0;
    width: 100%; height: 8vh;
    background-color:rgba(0,0,0,0.5);
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
}

nav .logo{
     
    text-align: center;
}

nav .menu{
    width: 40%;
    
    display: flex;
    justify-content: space-between;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color:white ;
    font-weight: bold;
}

  .drop {
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid #99d1ff;
    color: #070606;
    text-align: center;
    font-size: 14px;
    height: 30px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
  }
  .drop span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.drop span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.drop:hover span {
    padding-right: 25px;
  }
  
.drop:hover span:after {
    opacity: 1;
    right: 0;
  }
  .dropdown-content {
    left:0;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
.logo:hover .dropdown-content {display: block;}
.logo:hover .drop {background-color: #3e8e41;}

main{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
    color : white;
    }

section h3{
    font-size: 35px; 
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 3px black;
}
section h1{
    margin: 30px 0 20px 0 ;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration :none;
    letter-spacing: 1px;
}

bmenu .ist{
    background-color: #fff;
    color: #000;
}
.ist:hover{
    background-color: #00b894;
    color: white;
}
bmenu .snd{
    background-color: #00b894;
    color: white;
}
.snd:hover {
    background-color: #fff;
    color: #000;
}

.ch:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext {
    0%{content:"Taj Mahal";}
    30%{content:"Great Wall of China";}
    48%{content:"Chichén Itzá";}
    54%{content:"Petra";}
    70%{content:"Machu Picchu";}
    84%{content:"Christ the Redeemer";}
    100%{content:"Colosseum";}

}
.bmenu{
    position: fixed;
    bottom: 0;
    width: 100%; height: 10vh;
    background-color:rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
}

.cont{
    background-color: rgba(123, 110, 241, 0.7);
    display: flex;
    width: 100%;
    margin-bottom: 10vh;
    height: 72vh;
}
.heading{

    font-size: 25px; letter-spacing: 3px;
    margin-top: 8vh;
    color: rgb(255, 255, 255);
    height: 10vh;

}
.heading h1{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
        margin-left: 3%;
}

.image{
    
    flex: 35%;
    color: black;
}
.image img {
    border: 1px solid #ddd;
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 28px;
  }
.pra{
    flex: 65%;
  }
.pra p{
    color: #fff;
    font-size: 25px;
    margin: 5%;
    width: 90%;
    height: 90%;
}  

.gallmain{
    margin-top: 8vh;
    width: auto;  
    text-align: center;  
    padding: 15px;  
    border-radius: 25px;
    border: 5px solid rgb(122, 197, 248);  
}
.gallmain img{
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}


.aheading{
    width: auto;
    margin-top: 10vh;
    height: 12vh;
    text-align: center;
    }

.aheading h1{
    font: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.apra{
    font-size: 25px;
    margin-bottom:15vh;
    width: auto;
    background-color:rgba(144, 200, 252, 0.7);    
    margin-top: 5vh;
}
.apra h2{
    padding-top:2vh;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.apra h3{
    color: rgb(255, 255, 255);
        text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.apra p{
    padding-left: 5vh;
    color: black;
    font-size: 25px;
}
.mcont{
   
    margin-left: 45vh;
    margin-top: 20vh;
    width: 110vh;
    height: 60vh;
    background-color: rgb(122, 197, 248);
    border-radius: 25px;
    border: 5px solid rgb(249, 250, 250);
}
.mcont pre{
    font-size: 20px;
    padding-top: 12vh;
   
}